.logo {
    padding: 5px;
    width: auto; /* Occupies full width of the parent container */
    height: auto; /* Maintains aspect ratio */
    max-height: 64px; /* Optional: Limit the height */
    display: block; /* Ensures it behaves as a block element */
    object-fit: contain; /* Ensures the image fits without distortion */
    background-color: #ec4040;
}